{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<div class="container">
<br>
  <div class="jumbotron">
    <h2>TRADER DETAILS:</h2>

    <div class="farm_image">

      <a href="#">
          <img src="{% if trader_details.profile_pic %} {{ trader_details.profile_pic.url }} {% else %} {% static 'img/default.jpeg' %} {% endif %}" alt="Farm Pic" style="height: 130px; width: auto">
      </a>
    </div>

    <h4>Name: {{trader_details.full_names}}</h4>
    <h4>Telephone: {{trader_details.telephone_number}}</h4>
    <h4>Product: {{trader_details.vending_product}}</h4>
    <h4>Market: {{trader_details.market_location}}</h4>

    <p><a class="btn btn-primary" href="#">CONTACT {{trader_details.full_names}} </a></p>

  </div>

</div>

{% endblock %}
