{% extends 'market_base.html' %}
{% load static %}
{% block title %}
    Your Shopping Cart| Thank you
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 6%">
            <div class="col-md-8 col-md-offset-2">
                <h3 class="page-header">Thank You For Shopping With Us
                </h3>
                <p>Your order has been successfully completed. Your order number is <strong>{{ order.id }}</strong>.</p>
                <p><a class="btn btn-primary" href="{% url 'shop:product_list' %}">Continue Shopping</a></p>
                <p><a class="btn btn-primary" href="{% url 'blog:post_list' %}">Or, Visit our blog.</a></p>
            </div>
        </div>
    </div>
{% endblock %}
